@import url("https://fonts.googleapis.com/css?family=Roboto Slab");{ 
        -moz-box-sizing: border-box;
        font-family: Roboto Slab;
        font-weight: normal;
        font-size: 26px;
        color: black;
        background-color: white;
        width: 80%;
        margin: auto;
}
h1,
h2,
h3  {
}
h1{color: blue;
}
h2{color:black;
}
h3{color:blue;
}
pfooter{
}
.paceSection{
}
.articles{
}
.articleleft{
}
aside.intoPic{
}
.articleleft{
width: 100

%;
margin-right: 12px;
}


<style>
#img-canyoning_1.jng {
   position: absolute;
   width: 600;
   height: 300;
}
</style>
<img src="bilder/canyoning_1.jpg" id="bilder/canyoning_1.jpg" />span.unterstrichen {
    text-decoration: underline;
}
body {  
        box-sizing: border-box;
        margin: 0px;
        padding: 25px;
        -webkit-box-sizing: border-box;
}